<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Albert Doan JS-hw</title>
</head>
<style>
  #navbar {
  padding: 2em;
  background-color: #eee;
  margin-bottom: 2em;
  margin-top: 2em;
  text-decoration-color: black;
  -webkit-text-fill-color: black;
  border-color: black;
}

  #selDataset {
    border-color: black;
    background-color: lightblue;
    text-decoration-color: black;
    
  }

</style>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <div id="plot-1"></div>
      <p>{{text}}</p>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-2 col-md-4 col-md-12">
      <nav class="btn btn-primary" id="navbar"><strong>Select Sample<br></strong>
        <select class="btn btn-primary dropdown-toggle center" id="seltypeDataset"></select>
      </nav>
  </div>
    <div class="col-md-2 col-md-4 col-md-12">
      <nav class="btn btn-primary" id="navbar"><strong>Select Sample<br></strong>
        <select class="btn btn-primary dropdown-toggle center" id="selDataset" onchange="optionChanged(this.value, seltypeDataset.value)"></select>
      </nav>
    </div>
    <div class="col-md-12"></div>
    <div>
      <div class="col-md-12">
        <h3>{{text2}}</h3></div>
        <div>
          <div class="col-md-6 col-md-12">
            <div id='infoTable'></div>
          </div>
          <div class="col-md-6 col-md-12">
            <div id="plot-gauge"></div>
          </div>
          <div class="col-md-12"></div><div class="col-md-12"><div class="col-md-12"><div class="col-md-12"><div class="col-md-12"></div>
          <div></div>
          <div id="plot-2"></div>
        </div>
      <div class="col-md-12">
        <!-- <h3><a href="#">{{text2}}</a></h3> -->
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="plots.js"></script> -->
    <script type="text/javascript">
    
    var $pagebody = document.querySelector("#selDataset");
            $pagebody.innerHTML = "";
    
    var response = [0, 1, 2, 3, 4, 5, 6];
    var translatedresponse = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
    var pickdrop = ["pickups", "dropoffs"];
    var translatedpickdrop = ["Pickup", "Dropoff"];
    for (var i = 0; i < response.length; i++) {
      var selectClick = document.getElementById("selDataset");
      var selectOption = document.createElement("option");
      selectOption.value = response[i];
      selectOption.innerHTML = translatedresponse[i];
      selectClick.append(selectOption);
    }
    for (var i =0; i<pickdrop.length;i++) {
      var selectClick = document.getElementById("seltypeDataset");
      var selectOption = document.createElement("option");
      selectOption.value = pickdrop[i];
      selectOption.innerHTML = translatedpickdrop[i];
      selectClick.append(selectOption);
    }

    function optionChanged(value, anothervalue) {

      var daysURL = "/" + anothervalue + "/" + value;

      console.log(daysURL);
      console.log("wakka wakka " + anothervalue);

      Plotly.d3.json(daysURL, function (error, response) {
        if (error) return console.warn(error);
        console.log("Sample value retrieval", response);
        var xValues = [];
        var yValues = [];
        for (var i=0; i<response.length; i++) {
          xValues.push(response[i].hour);
          if (anothervalue == "dropoffs") {
            yValues.push(response[i].total_dropoffs);
          }
          else {
            yValues.push(response[i].total_pickups);
          }
        }
        console.log(xValues);
        console.log(yValues);

        var trace1 = {
          x: xValues,
          y: yValues,
          type: 'scatter'
        };
        var data = [trace1];

        Plotly.newPlot('plot-1', data);
      })
    }


  </script>
</div>
</body>
</html>